<launch>
  <!-- WHEN ON A DESKTOP -->
  <node if="0" name="controller_manager" launch-prefix="pr2-grant" 
        pkg="pr2_etherCAT" type="pr2_etherCAT"
        args="-i eth1 -x $(find velo_bench)/urdf/cycle.xml" 
        output="screen"/>

  <!-- WHEN ON A PR2 -->
  <node name="controller_manager" launch-prefix="pr2-grant" 
        pkg="pr2_etherCAT" type="pr2_etherCAT"
        args="-i ecat0 -x $(find velo_bench)/urdf/cycle.xml" 
        output="screen"/>

  <rosparam file="$(find velo_bench)/cycle_controllers.yaml" command="load" />

  <node name="calibration_controller"
        pkg="pr2_controller_manager" type="spawner"
        args="calibration_controller"
        respawn="false" output="screen" />

  <node name="glueEmpty2Bool"
        pkg="velo_bench" type="glueEmpty2Bool.py" args="-i calibration_controller/calibrated"
        respawn="false" output="screen" />

  <node name="cycle_controller"
        pkg="pr2_controller_manager" type="spawner"
        args="--wait=glueEmpty2Bool/calibratedBool  cycle_controller"
        respawn="false" output="screen" />

  <node if="0" name="plot_effort"
        pkg="rxtools" type="rxplot"
        args="-t EFFORT joint_states/effort[0]"
        respawn="false" output="screen" />

  <node if="0" name="plot_pos"
        pkg="rxtools" type="rxplot"
        args="-t POSITION joint_states/position[0]"
        respawn="false" output="screen" />

</launch>

