<launch>

  <!-- Robot Description --> 
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find gripper_control)/urdf/pr2.urdf.xacro'" />

  <!-- Robot Analyzer --> 
  <rosparam command="load" file="$(find pr2_bringup)/config/pr2_analyzers.yaml" ns="diag_agg" />

  <!-- Robot bringup --> 
  <include file="$(find gripper_control)/launch/pr2/pr2.launch" />

  <!-- Web ui  <include file="$(find webui)/webui.launch" /> -->
   
  <rosparam file="/etc/ros/robot.yaml"/>
  <rosparam file="$(find gripper_control)/lcg_transmission_params.yaml"/>

</launch> 
