<launch>

  <!-- Robot Description --> 
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find gripper_control)/urdf/pr2.urdf.xacro'" />

  <!-- Robot Analyzer --> 
  <rosparam command="load" file="$(find pr2_bringup)/config/pr2_analyzers.yaml" ns="diag_agg" />

  <!-- Robot bringup --> 
  <include file="$(find gripper_control)/launch/pr2/pr2.launch" />

  <!-- Web ui  <include file="$(find webui)/webui.launch" /> -->
   
  <rosparam file="/etc/ros/robot.yaml"/>


  <node name="plot_cal"
        pkg="rxtools" type="rxplot"
        args="-b 60 -p 20 /cal_l_gripper/state/process_value /cal_l_gripper/state/command"
        respawn="false" output="screen" />

  <node name="plot_left"
        pkg="rxtools" type="rxplot"
        args="-b 60 -p 20 /l_gripper_joint/state/gap_size /l_gripper_joint/state/gap_force /l_gripper_joint/state/tendon_position /l_gripper_joint/state/tendon_force /l_gripper_joint/state/motor_torque"
        respawn="false" output="screen" />

  <node name="plot_right"
        pkg="rxtools" type="rxplot"
        args="-b 60 -p 20 /r_gripper_joint/state/gap_size /r_gripper_joint/state/gap_force /r_gripper_joint/state/tendon_position /r_gripper_joint/state/tendon_force /r_gripper_joint/state/motor_torque"
        respawn="false" output="screen" />



</launch> 
