<launch>

  <!-- Robot Description --> 
  <!-- <param name="robot_description" command="$(find xacro)/xacro.py '$(find gripper_control)/urdf/pr2.urdf.xacro'" /> -->

  <!-- WHEN ON A DESKTOP -->
  <node if="0" name="controller_manager" launch-prefix="pr2-grant" 
        pkg="pr2_etherCAT" type="pr2_etherCAT"
        args="-i eth1 -x $(find gripper_control)/bench_gripper.xml"
        output="screen"/>

  <!-- WHEN ON A PR2 -->
  <node name="controller_manager" launch-prefix="pr2-grant" 
        pkg="pr2_etherCAT" type="pr2_etherCAT"
        args="-i ecat0 -x $(find gripper_control)/bench_l_gripper.xml"
        output="screen"/>

  <rosparam file="$(find gripper_control)/bench_l_controllers.yaml" command="load" />

  <rosparam ns="l_gripper_joint" file="$(find gripper_control)/lcg_transmission_params.yaml"/>

  <node if="0" name="dashboard" 
        pkg="pr2_dashboard" type="pr2_dashboard"
        respawn="false" output="screen" />

  <!-- Gripper
  <rosparam command="load" 
			file="$(find gripper_control)/pr2_lcgripper_controllers.yaml" />
  -->

  <node name="cal_l_gripper"
        pkg="pr2_controller_manager" type="spawner"
        args="cal_l_gripper"
        respawn="false" output="screen" />

  <node name="monitor" 
        pkg="runtime_monitor" type="monitor"
        respawn="false" output="screen" />

  <node name="glueEmpty2Bool"
        pkg="gripper_control" type="glueEmpty2Bool.py"
        respawn="false" output="screen" />

  <!-- Controllers that come up started -->
  <node name="default_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--wait=glueEmpty2Bool/calibratedBool l_gripper_controller" />

  <!-- Nodes on top of the controllers -->
  <group ns="l_gripper_controller">
    <node name="gripper_action_node"
          pkg="pr2_gripper_action" type="pr2_gripper_action" />
  </group>

  <node if="0" name="plot_effort"
        pkg="rxtools" type="rxplot"
        args="-t EFFORT joint_states/effort[0]"
        respawn="false" output="screen" />

  <node if="0" name="plot_pos"
        pkg="rxtools" type="rxplot"
        args="-t POSITION joint_states/position[0]"
        respawn="false" output="screen" />

</launch>

