<launch>

  <!-- Robot Description --> 
  <!-- <param name="robot_description" command="$(find xacro)/xacro.py '$(find gripper_control)/urdf/pr2.urdf.xacro'" /> -->

  <node name="controller_manager" launch-prefix="pr2-grant" 
        pkg="pr2_etherCAT" type="pr2_etherCAT"
        args="-i eth1 -x $(find gripper_control)/bench_gripper.xml"
        output="screen"/>

  <rosparam file="$(find gripper_control)/bench_controllers.yaml" command="load" />

  <rosparam ns="l_gripper_joint" file="$(find gripper_control)/lcg_transmission_params.yaml"/>

  <node name="calibration_controller"
        pkg="pr2_controller_manager" type="spawner"
        args="calibration_controller"
        respawn="false" output="screen" />

  <node name="monitor" 
        pkg="runtime_monitor" type="monitor"
        respawn="false" output="screen" />

  <node if="0" name="glueEmpty2Bool"
        pkg="gripper_control" type="glueEmpty2Bool.py"
        respawn="false" output="screen" />

  <node if="0" name="cycle_controller"
        pkg="pr2_controller_manager" type="spawner"
        args="--wait=glueEmpty2Bool/calibratedBool  cycle_controller"
        respawn="false" output="screen" />

  <node if="0" name="plot_effort"
        pkg="rxtools" type="rxplot"
        args="-t EFFORT joint_states/effort[0]"
        respawn="false" output="screen" />

  <node if="0" name="plot_pos"
        pkg="rxtools" type="rxplot"
        args="-t POSITION joint_states/position[0]"
        respawn="false" output="screen" />

</launch>

