<launch>
  <rosparam file="$(find gripper_controller)/joint_position_controller.yaml" command="load" />
  <node pkg="pr2_etherCAT" 
        name="realtime_loop" 
        type="pr2_etherCAT" 
        args="-ieth1 -x ($find gripper_controller)/low_cost_gripper.xml"
        reqired="true" />
  <node name="spawn_calibration_controller" 
        pkg="pr2_controller_manager" 
        type="spawner" 
        args="calibration_controller"
        respawn="false" output="screen" />
  <node name="spawn_cycle_controller" 
        pkg="pr2_controller_manager" 
        type="spawner" 
        args="--wait=calibration_controller/calibrated cycle_controller"
        respawn="false" output="screen" />
  <node name="cycle_control"
        pkg="gripper_controller"
        type="cycle.py"
        output="screen" />
</launch>
